.text_gray {
  color: #4f5a69;
}
.forgot_pwd_container {
  width: 528px;
  margin-left: 0px;
  min-height: 640px;
  padding-left: 19px;
  padding-right: 20px;

  .forgot_pwd_heading {
    font-size: 28px;
    line-height: 40px;
    font-weight: 700;
  }
  .forgot_pwd_text {
    font-size: 16px;
    padding-top: 15px;
  }
  .submit_format {
    border-radius: 70px;
    float: right;
    margin-top: 20px;
  }
}
.auth_title {
  line-height: 32px;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  margin: 10px auto 20px !important;
}
.auth_button {
  margin: 20px 0px !important;
  border-radius: 80px !important;
  text-transform: none !important;
  font-size: 17px !important;
}
.auth_shuffle_text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .hyper_text {
    cursor: pointer;
    line-height: 13px;
    text-decoration: underline;
    color: #004cc6;
  }
}
.checkbox_sign{
  padding: 0px 5px !important;
  display: flex;
  align-items: flex-start !important;
}
.info_text {
  font-size: 16px !important;
  color: #4f5a69;
}
.country_label{
  top: -7px !important;
}
